body {
    background: #CCCCC;
}
p {
    text-align: center;
}
  em strong {
    color:rgb(255, 0, 0)
  }

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -aling: center;
}