body {
    background: #CCCCC;
}
{
    text-aling: center;
}
  

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -aling: center;
}